
h1 {
text-align: center;
}

h3 {
  font-size: 1.5em;
}

.day-title {
  margin-bottom: 0.3em;
}

.week {
  border-style: dashed;
}

.weekday {
border: 1px solid black;
margin: 1em;
min-height: 9em;
padding: 0.5em 0.5em 0em 0.5em;
}

.sad-face {
  width: 6%;
}
.sad-face-press {
  width: 10%;
}

.container {
  max-width: 90%;
  width: 100%;
  background-color: pink;
}

.three-days .weekday {
  margin-right: 0px;
}
.four-days .weekday {
  margin-left: 0px;
}

.smiley-holder {
  min-height: 2em;
  border-bottom: 1px solid black;
  padding-top: 0.6em;
  /*background-color: pink;*/
}
